.flash-error {
  $error_bg_color: #fcc;
  background-color: $error_bg_color;
  border: 1px solid lighten($error_bg_color, 10%);
}

.flash-notice {
  $notice_bg_color: #cff;
  background-color: $notice_bg_color;
  border: 1px solid lighten($notice_bg_color, 10%);
}

.flash {
  padding: 1px 10px;
  margin: 5px 10px;
}
